<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .heading{
            color: hotpink;
            
        }
        
        a{
            text-decoration: none;
        }

    </style>
</head>
<body>
  <h1 style="text-align: centre;" class="heading">Oops! Password didn't match .. </h1>
  <h3 class="try">Try Again</h3><span style="text-align: centre;"> 👉<a style="text-align: centre;" href="/login" >LOGIN</a></span>
 
</body>
</html>