




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!DOCTYPE html>

<html lang="en-US">


<head>
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  
   
    
    <script src="https://ninjacart.in/js/jquery.min.js"></script>
<style>
header.fixed{
    padding: 20px 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .55);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .55);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, .55);
}
</style>
<script>
document.addEventListener("scroll",function(){
  var target = document.getElementsByTagName('header');
  var val = document.getElementsByTagName('body');
  if(window.pageYOffset > 1){
	val[0].style.color= "#000";
	  
	 target[0].style.padding= "20px 0";
	 target[0].style.background= "#fff";
	 target[0].style.boxShadow= "0 0 10px 0 rgba(50, 50, 50, .55)";
  }
  else if(window.pageYOffset < 30){
	target[0].style.padding= "40px 0";
         target[0].style.background= "none";
         target[0].style.boxShadow= "none";
  }
},false); 

    </script>
    <link href="https://ninjacart.in/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="https://ninjacart.in/css/animate.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://ninjacart.in/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="https://ninjacart.in/css/slick.css">
<link href="https://ninjacart.in/css/style.css" type="text/css" rel="stylesheet">
<link href="https://ninjacart.in/css/responsive.css" type="text/css" rel="stylesheet">
    
</head>

<body class="home">
<div class="wrapper">
    <header>
    

           


    <div class="container_info">
        <div class="logo_info">
       KRISHI LITE
        </div>
            <div class="nav_info">
                                    <ul>
                                                    
                                <li class="active ">
                                    <a href="/">Home</a>
                                </li>
                                                    
                                <li class=" ">
                                    <a href="/about">About Us</a>
                                </li>
                                                    
                               
                             
                                
                                <li class="login-direct"> <a href="/login">LOGIN</a> </li>
                                <li class="login-direct"> <a href="/login">LOGIN-I</a> </li>
                                <li class="signup-direct"> <a href="/register"> SIGNUP</a></li>
                                <li class="signup-direct"> <a href="/regind"> SIGNUP-I</a></li>
                                 
                             
                                            </ul>
                            </div>
                        
            <div class="navopen_icon">
                <span class="nav_iconline nav_iconline1"></span>
                <span class="nav_iconline nav_iconline2"></span>
                <span class="nav_iconline nav_iconline3"></span>
            </div>
            
                
            
    </div>
</header>

        <div class="banner_info d-none">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner_list">
                        <div class="banner_img">
                            <img src="images/banner_img2.jpg" alt="">
                        </div>
                        <div class="banner_txt">
                            <div class="container_info">
                                <div class="banner_txtinner">
                                    <h3>Revolutionizing the Indian Supply Chain</h3>
                                    <h6>Driven by cutting edge technology, we source produce from 13500+ farmers and vendors, and sell to 17000+ retailers and merchants, across India</h6>
                                    <a href="javascript:void(0)" class="green_btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="pbl_farmerphoto.webp" alt="" id="photo_farmer">       
            <div><div class="banner_info">
            <div class="banner_list">
                <div class="banner_img wow no_anm_mobile fadeIn" data-wow-delay="0.5s">
                    <img src="/images/banner_img2.jpg" alt="">
                    <div class="banner_locationicon floating_js"><img src="/images/banner_locationicon.png" alt=""></div>
                    <div class="bannercircleicon1"><img src="/images/banner_circleicon1.png" alt=""></div>
                    <div class="bannercircleicon2"><img src="/images/banner_circleicon2.png" alt=""></div>
                    <div class="bannercircleicon3"><img src="/images/banner_circleicon2.png" alt=""></div>
                    <div class="bannercircleicon4"><img src="/images/banner_circleicon1.png" alt=""></div>
                    <div class="bannercircleicon5"><img src="/images/banner_circleicon2.png" alt=""></div>
                    <div class="bannercircleicon6"><img src="/images/banner_circleicon2.png" alt=""></div>
                    <div class="bannerplusicon1"><img src="/images/banner_plusicon1.png" alt=""></div>
                    <div class="bannerplusicon2"><img src="/images/banner_plusicon1.png" alt=""></div>
                    <div class="bannerplusicon3"><img src="/images/banner_plusicon1.png" alt=""></div>
                    <div class="bannerplusicon4"><img src="/images/banner_plusicon1.png" alt=""></div>
                    <div class="bannerplusicon5"><img src="/images/banner_plusicon1.png" alt=""></div>
                    <div class="bannerplusicon6"><img src="/images/banner_plusicon1.png" alt=""></div>
                </div>
                <div class="homebanner_mobile"><img src="/images/homebanner_mobile.png" alt=""></div>
                <div class="banner_txt">
                    <div class="container_info">
                        <div class="banner_txtinner">
                            <h3 class="wow no_anm_mobile fadeInDown" data-wow-delay="1s"><span style="color: rgb(0, 0, 0);">Revolutionizing the Fresh Produce Supply Chain</span></h3>
                            <h6 class="wow no_anm_mobile fadeIn" data-wow-delay="1.5s">Driven by cutting edge technology, we source fresh produce from farmers and sell to businesses, across India</h6>
                            <a href="/buy-sell" class="green_btn wow no_anm_mobile fadeIn" data-wow-delay="2s"><span>Learn More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<a href="https://www.ninjacart.in/blog/harvest-the-farms-htf-initiative-by-ninjacart/"><span><div class="aboutninjacart_listimg wow no_anm_mobile fadeIn" data-wow-delay="0.5s"></div></span></a>
        <div class="aboutus_section">
            
<div class="aboutus_section_txt">
                    <div class="banner_txtbg floating_js"></div>
                    <h3>About Us</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, sapiente cumque soluta rerum, voluptatum officiis veritatis accusantium quidem optio, reiciendis in. Porro, neque! Placeat ex dolore ratione maxime esse fugit.</p>
                    <a href="/about" class="green_btn"><span>Know more</span></a>
                </div>
            </div>
        </div></div>

              
               
                <div class="creatingopportunities_list">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="creatingopportunities_listview">
                                    <div class="creatingopportunities_listinner active">
                                        <div class="creatingopportunities_listimg">
                                           <img src="images/creatingopportunities_img1.png" class="creatingopportunities_imgnormal" alt="">
                                           <img src="images/creatingopportunities_img1_hover.png" class="creatingopportunities_img_hover" alt="">
                                        </div>
                                        <h6>Benefits for farmers</h6>
                                        <ul>
                                            <li>20% more revenue</li>
                                            <li>One-stop-sale</li>
                                            <li>Payment in 24 hours</li>
                                            <li>Transparent weighing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="swiper-slide">
                                <div class="creatingopportunities_listview">
                                    <div class="creatingopportunities_listinner">
                                        <div class="creatingopportunities_listimg">
                                           <img src="images/creatingopportunities_img3.png" class="creatingopportunities_imgnormal" alt="">
                                           <img src="images/creatingopportunities_img3_hover.png" class="creatingopportunities_img_hover" alt="">
                                        </div>
                                        <h6>Savings for consumers</h6>
                                        <ul>
                                            <li>Hygienically handled produce</li>
                                            <li>100% traceable to farm 
                                            <li>Better quality</li>
                                            <li>Better prices</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creatingopportunities_bg"></div>
        </div>

             

                <div class="puttheirfaith_info">
          
            <div class="puttheirfaith_bg"></div>
        </div>

    
        
       
    </div>
    
            <div class="trustus_direct_info">
            <div class="container_info">
                <div class="trustus_direct_list">
                    <ul>
                        <li class="active">
                            <a href="/sell">
                                <div class="trustus_direct_listinner">
                                    <h5>Trust us with your harvest</h5>
                                    <h6>Get fair prices for your produce from Krishi lite</h6>
                                    <div class="trustus_direct_arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/buy">
                                <div class="trustus_direct_listinner">
                                    <h5>Direct from farms to your business</h5>
                                    <h6>Order online from Krishi lite and get fresh produce delivered to your doorstep</h6>
                                    <div class="trustus_direct_arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    
    <footer>
     
</footer>

</div>
<script src="https://ninjacart.in/js/wow.min.js"></script>
<script src="https://ninjacart.in/js/swiper.min.js"></script>
<script src="https://ninjacart.in/js/slick.js"></script>
<script src="https://ninjacart.in/js/script.js"></script>
<script>
    $(function(){

        var swiper = new Swiper('.banner_info .swiper-container', {
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
        });

        var swiper = new Swiper('.creatingopportunities_list .swiper-container', {
            slidesPerView: 3,
            spaceBetween: 0,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            breakpoints: {
                768: {
                    slidesPerView: 2
                },
                639: {
                    slidesPerView: 1
                }
            }
        });


        $('.peopleaboutninjacart_slider').slick({
            // centerMode: true,
            // centerPadding: '120px',
            slidesToShow: 1,
            responsive: [
                {
                    breakpoint: 980,
                    settings: {
                        centerPadding: '60px',
                    }
                },
                {
                    breakpoint: 639,
                    settings: {
                        centerPadding: '0',
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


        $('.reasonstobuy_slider').slick({
            centerMode: true,
            centerPadding: '120px',
            slidesToShow: 3,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1100,
                    settings: {
                        centerPadding: '60px',
                    }
                },
                {
                    breakpoint: 980,
                    settings: {
                        centerPadding: '60px',
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        centerPadding: '0',
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 639,
                    settings: {
                        centerPadding: '0',
                        slidesToShow: 1,
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


        var swiper = new Swiper('.careerslifeatninjacart_list .swiper-container', {
            slidesPerView: 3,
            spaceBetween: 10,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            breakpoints: {
                768: {
                    slidesPerView: 2
                },
                639: {
                    slidesPerView: 1
                }
            }
        });
    });

</script></body>

</html>

</body>
</html>